.image-viewer-container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.596);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.image-viewer-container img {
    max-width: 80vw;
    max-height: 80vh;
    display: block;
    margin: 20px auto 0;
}

.image-viewer-container .btn {
    display: block;
    margin-top: 5px;
    margin: 5px auto;
}

@media screen and (max-width: 768px) {
    .image-viewer-container img {
        max-width: 95vw;
        max-height: 90vh;
    }
}