@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.certificate-section {
    padding: 50px 100px;
    font-family: 'Open Sans', sans-serif;
    cursor: default;
}

.certificate-section .certificate-container h1 {
    font-size: 50px;
    margin-bottom: 30px;
}