@import url('https://fonts.googleapis.com/css2?family=Combo&family=Permanent+Marker&display=swap');

.intro-section {
    position: relative;
    padding: 10px 100px;
    background: linear-gradient(transparent 5%, #ffd2d210, #ffc3f53d, transparent 98%);
}

.intro-container {
    width: 100%;
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    margin-top: 30px;
}

.intro-section .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(126, 112, 252, 0.05);
    padding: 30px;
    border-radius: 50% 46% 21% 46%;
}

.intro-section .content h1 {
    font-size: 50px;
    font-family: 'Permanent Marker', cursive, Calibri;
}

.intro-section .content small {
    font-family: 'Combo', cursive, Calibri;
    font-weight: 300;
}

/* Image background */
.img-container {
    background-color: rgba(185, 235, 248, 0.1);
    border-radius: 40% 60% 35% 70%;
    height: fit-content;
    max-width: fit-content;
}
.img-container-2 {
    background-color: rgba(142, 252, 166, 0.1);
    border-radius: 70% 30% 55% 20%;
    width: 100%;
    height: 100%;
}
.img-container-3 {
    background-color: rgba(252, 142, 237, 0.05);
    border-radius: 45% 70% 80% 55%;
    height: 100%;
    padding: 50px;
}

.img-container img {
    width: 100%;
}

@media screen and (max-width: 899px) {
    .intro-section {
        padding: 20px;
    }
    .intro-container {
        flex-direction: column;
        align-items: center;
    }
    .intro-section .content {
        background: none;
    }
    .img-container {
        margin-top: 40px;
    }
}